<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389796925143-o6d16bo5m436ftfvnu128aa6d3vo1vrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389796925143-o6d16bo5m436ftfvnu128aa6d3vo1vrc</string>
	<key>API_KEY</key>
	<string>AIzaSyBhgDCjFvZCrhaYNjCU3W5vCvyDKuaqL1U</string>
	<key>GCM_SENDER_ID</key>
	<string>389796925143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tiko.fastmail</string>
	<key>PROJECT_ID</key>
	<string>fast-mail-fiverr</string>
	<key>STORAGE_BUCKET</key>
	<string>fast-mail-fiverr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389796925143:ios:8b6b67a8d75ac38c2e2a92</string>
</dict>
</plist>